
body {
 background:#f4f6f8;
 font-family: Arial;
}

.container {
 width:80%;
 margin:auto;
 padding:20px;
}

textarea {
 width:100%;
 height:80px;
 padding:10px;
}

button {
 padding:10px 20px;
 margin-top:10px;
 cursor:pointer;
}

table {
 width:100%;
 border-collapse: collapse;
 margin-top:20px;
}

th,td {
 border:1px solid #ddd;
 padding:10px;
 text-align:center;
}
